<%- include('partials/header') %>
<h1>Chat App</h1>
<h2></h2>
<form>
    <input type="text" name="message">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<%- include('partials/footer') %> 