<%- include('partials/header') %>
Chat App
<h1></h1>
<div id="messages"></div>
<form>
    <input type="text" name="message">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<button id="sendLocation" class="btn btn-secondary">Know Your Locatiion</button>
<scrpt id="message-template" type="text/html" style="visibility: hidden;">
    <div>
        <p>{{message}}   {{createdAt}}</p>
    </div>
</scrpt>
<script id="location-template" type="text/html" style="visibility: hidden;">
    <div>
        <p><a href={{location}} target="_blank">Know My Location</a>   {{createdAt}}</p>
    </div>
</script>
<%- include('partials/footer') %> 